* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    margin-bottom: 20px;
}

/*Макет 1*/
.parent {
    height: 800px;
    width: 800px;
    background: purple;
    display: flex;
    margin-bottom: 20px;
}

.green {
    flex-basis: 50%;
    display: flex;
}

.bg_green {
    background: lime;
}

.bg-blue {
    background: blue;
}

.bg-yellow {
    background: yellow;
}

.m-bott {
    margin-bottom: 10px;
}

.p_10px {
    padding: 10px;
}

.f-column {
    flex-direction: column;
}

.yellow {
    flex-basis: 33%;
    display: flex;
    margin-right: 10px;
    min-height: 100%;
    flex-shrink: 0;
}

.blue1 {
    width: 100px;
    height: 100px;
}

.m-left10 {
    margin-left: 10px;
}

.j-c-space-b {
    justify-content: space-between;
}

.f-end {
    align-items: flex-end;
}

.a-end {
    align-self: end;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.bg-orange {
    background: orange;
}

.bg-red {
    background: red;
}

/*Макет 2*/
.parent-2 {
    height: 800px;
    width: 800px;
    background: peru;
    display: flex;
    margin-bottom: 20px;

}

.block-orange {
    display: flex;
    flex-basis: 50%;
}

.block-red {

    flex-basis: 50%;
}

.nth:nth-child(odd) {
    background: darkblue;
    align-self: flex-end;
}

.lime {
    height: 100px;
    border: 1px solid black;
}

.sky {
    background: aqua;
    height: 30%;

}

.f-wrap {
    flex-wrap: wrap;
}

.a-content {
    align-content: flex-start;
}

.a-self {
    align-self: flex-end;
}

/*Макет 3*/

.parent-3 {
    height: 800px;
    width: 800px;
    background: red;
    display: flex;
    margin-bottom: 20px;

}

.sidebar {
    flex-basis: 250px;
    max-width: 250px;

    background: orange;
}

.top-green {
    height: 15%;
    width: 100%;
    background: lime;
    flex: 1 0 auto;
}

.burgundy {
    height: 100px;
    background: darkred;
    flex: 1 0 auto;
}

.o {
    overflow: auto;
}

.right-conrtent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.menu {
    display: flex;
    flex-basis: auto;
    background: lawngreen;
    flex-grow: 1;

}

.pink-block {
    flex-basis: auto;
    display: flex;
    flex-grow: 2;

}

.pink {

    width: 50%;
    height: 100%;
    background: fuchsia;
}

.blue-block {
    flex-basis: auto;
    display: flex;
    flex-grow: 2;
}

.blue {
    width: 50%;
    height: 100%;
    background: blue;
}

.green-block {
    display: flex;
    flex-basis: auto;
    background: lime;
    flex-grow: 2;
}
